.list-repo-item{
    background: white;
    border-radius: 5px;
    border-color: rgb(238, 238, 238);
    border-width: 2px;
    border-style: solid;
    margin: 5px auto;
    padding: 10px;
    min-height: 100px;
}

.item-desc{
    color: rgb(114, 112, 112);
}