<div *ngIf="ready; then thenBlock"></div>
<ng-template #thenBlock>
    <div id="sidebar-wrapper">
        <div  id="image-wrapper">
            <img src={{userJson.avatar_url}} alt="Avatar Image" id="profile-photo">
        </div>
        
        <div  id="user-details" >
            <h4 id="user-name"> {{userJson.name}} </h4>
            <h5 id="user-login"> <a href="{{userJson.html_url}}"  target="_blank"> /{{userJson.login}} </a>  </h5>
            <br>
            
            <p id="user-location" > 
                <i class="fas fa-map-marker-alt"></i>  
                {{userJson.location}} 
            </p>
            
            <p id="user-email" > 
                <i class="fas fa-envelope"></i> 
                <a href="mailto:{{userJson.email}}" > {{userJson.email}} </a>
            </p>
            
            <p id="user-bio" > {{userJson.bio}} </p>
        </div>
    </div>
</ng-template>