
/* nav bar */
#brand-logo{
    width: 30px;
}

#search-btn {
    border-width: 0px;
    background: green;
    color: white;
}
#search-btn:hover {
    color: lightgray;
}

#brand-name{
    color: white;
}

.nav-link, .navbar-brand{
    cursor: pointer;
}
/* nav bar*/

/* main body wrapper */
#main-body-wrapper {
    display: flex;
    flex-wrap: wrap;
}
@media (max-width:986px){
    #main-body-wrapper{
        flex-direction: column;
    }
}
/* main body wrapper */

/* profile sidebar */
#profile-sidebar{
    flex-basis: 25%;
}
/* profile sidebar */

/* others */
#others {
    flex-basis: 75%;
}
/* others */
