<div *ngIf="ready; then thenBlock"></div>
<ng-template #thenBlock>
    <div id="search-wrapper">
        <div class="search-item" (click)="setRepoDetails(i)" *ngFor="let repo of searchInfo['items']; index as i">
            <div class="repo-details">
                    <h4> <a href="{{repo.html_url}}"> {{repo.name}} </a> </h4>
                    <p class="item-desc"> {{repo.description}} </p>
                    <p class="item-desc"> 
                            Owner: <a href="{{repo.owner.html_url}}" > {{repo.owner.login}} </a> 
                    </p>
            </div>
        </div>
    
    </div>
</ng-template>
